.tic-tac-toe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.game-info {
    flex: 1 1 40%;
    text-align: center;
}

.board {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    transition: transform 1000ms ease-in-out;

    &.hidden {
        transform: translateY(-2000px);
    }
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10rem;
}
