<div class="tic-tac-toe">
    <div class="game-info">
        <h1>Tic Tac Toe</h1>

        <app-game-info [gameState]="gameState"></app-game-info>
    </div>
    <div class="board">
        <div class="cell" (click)="handleCellClick(0, 0)">
            <app-game-cell [cellState]="gameState.cellStates[0][0]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[0][1]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[0][2]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[1][0]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[1][1]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[1][2]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[2][0]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[2][1]"></app-game-cell>
        </div>
        <div class="cell">
            <app-game-cell [cellState]="gameState.cellStates[2][2]"></app-game-cell>
        </div>
    </div>
</div>
