<div class="tic-tac-toe">
    <div class="game-info">
        <h1>Tic Tac Toe</h1>

        <div class="turn-state">
            {{ gameState.turnState | turnState }}
        </div>

        <button
            type="button"
            id="reset-button"
            *ngIf="gameState.turnState | gameHasEnded"
            (click)="resetGameState()"
        >
            Reset
        </button>
    </div>

    <div class="board" [class.hidden]="gameState.turnState | gameHasEnded">
        <div class="cell" (click)="handleCellClick(0, 0)">
            {{ gameState.cellStates[0][0] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(0, 1)">
            {{ gameState.cellStates[0][1] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(0, 2)">
            {{ gameState.cellStates[0][2] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(1, 0)">
            {{ gameState.cellStates[1][0] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(1, 1)">
            {{ gameState.cellStates[1][1] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(1, 2)">
            {{ gameState.cellStates[1][2] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(2, 0)">
            {{ gameState.cellStates[2][0] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(2, 1)">
            {{ gameState.cellStates[2][1] | cellState }}
        </div>
        <div class="cell" (click)="handleCellClick(2, 2)">
            {{ gameState.cellStates[2][2] | cellState }}
        </div>
    </div>
</div>
