.tic-tac-toe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.game-info {
    flex: 1 1 40%;
    text-align: center;
}

.board {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
