<div id="turn-display">
    <ng-container
        *ngIf="
            gameState.turnState === playerX || gameState.turnState === playerO
        "
    >
        Player {{ gameState.turnState === playerX ? 'X' : 'O' }} Turn
    </ng-container>

    <ng-container
        *ngIf="
            gameState.turnState === playerXWins ||
            gameState.turnState === playerOWins
        "
    >
        Player {{ gameState.turnState === playerXWins ? 'X' : 'O' }} Wins!
    </ng-container>

    <ng-container *ngIf="gameState.turnState === tie">
        Tie!
    </ng-container>
</div>
